<p id="notice"><%= notice %></p>

<h1>Listing Mezages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mezages.each do |mezage| %>
      <tr>
        <td><%= mezage.name %></td>
        <td><%= mezage.email %></td>
        <td><%= mezage.company %></td>
        <td><%= mezage.phone %></td>
        <td><%= mezage.subject %></td>
        <td><%= mezage.body %></td>
        <td><%= link_to 'Show', mezage %></td>
        <td><%= link_to 'Edit', edit_mezage_path(mezage) %></td>
        <td><%= link_to 'Destroy', mezage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mezage', new_mezage_path %>
