<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site."name"=>"contact" %> 
</p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @site.body %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
